/* Box Sizing - border-box /Margin/Padding = 0 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSans;
    src: url(./assets/font/OpenSans-Regular.ttf);
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
    font-family: OpenSans;
}

a {
    text-decoration: none;
}

/* .wrapper {
    max-width: 1440px;
    margin: auto;
} */
/* Header */

header {
    min-height: 100vh;
    background-image: url(./assets/images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    right: 3vw;
}

nav a {
    color: white;
    font-size: 0.9rem;
    line-height: 3.25rem;
    font-weight: 400;
    letter-spacing: 0.195rem;
    text-transform: uppercase;
}

h1 {
    font-size: 2.8rem;
    color: white;
    border-top: 2px white double;
    border-bottom: 2px white double;
    text-align: center;
    margin-bottom: 2vw;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.break::after {
    content: "\A";
    white-space: pre;
}

.heading p {
    color: white;
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 165% */
    letter-spacing: 3.9px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 2vw;
}

.heading a {
    border-radius: 3px;
    background: #ed4933;
    color: #fff;
    text-align: center;
    padding: 12px 37.92px 12.33px 38.13px;
    border-radius: 3px;
}

/* Section Tolkien */

.tolkien {
    background: #21b2a6;
    min-height: 580.58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tolkien div {
    display: flex;
    gap: 4vw;
    margin-bottom: 2vw;
}

.iconContainer {
    padding: 1vw;
    transform: rotate(45deg);
    border-radius: 0.1875rem;
    border: 2px solid rgba(0, 0, 0, 0.13);
}

.iconContainer img {
    transform: rotate(-45deg);
}

.tolkien h2 {
    font-size: 23.4px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.95px; /* 175% */
    letter-spacing: 5.265px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 14rem;
    padding-bottom: 3rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);

    margin-bottom: 4vw;
}

.tolkien p {
    color: #c8ece9;

    text-align: center;

    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 165% */
    letter-spacing: 1.3px;
    padding: 0 25vw;

    margin-bottom: 4vw;
}

/* Section Cities*/

.colombia img,
.paris img,
.hungary img {
    height: 100%;
    object-fit: cover;
}

.colombia {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #2b343d;
    color: #fff;
    gap: 1vw;
}

.paris {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #273038;
    color: #fff;
}

.hungary {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #242b33;
    color: #fff;
}

.paris h3,
.colombia h3,
.hungary h3 {
    font-size: 23.4px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.95px; /* 175% */
    letter-spacing: 5.265px;
    text-transform: uppercase;
    padding-left: 2vw;
}

.paris p,
.hungary p,
.colombia p {
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 165% */
    letter-spacing: 1.3px;
    padding: 2vw;
}

.text {
    padding: 2vw;
}

/* Section Promise */

.promiseInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #505393;
    color: #fff;
    padding: 0 15vw;
    padding-bottom: 4vw;
}

.promiseItem:first-of-type {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promiseItem:first-of-type h3 {
    font-size: 23.4px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.95px; /* 175% */
    letter-spacing: 5.265px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);

    margin-bottom: 2vw;
    padding-bottom: 2vw;
}

.promiseItem:first-of-type p {
    padding-top: 1vw;
    text-align: center;
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 165% */
    letter-spacing: 1.3px;
}

.promiseItem {
    padding: 4vw;
}

.promiseItem h3 {
    font-size: 19.933px;
    font-style: normal;
    font-weight: 800;
    line-height: 34.883px; /* 175% */
    letter-spacing: 4.485px;
    text-transform: uppercase;
    margin-bottom: 1vw;
}

.promiseItem p {
    color: #d3d4e4;
    font-family: Open Sans;
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px; /* 165% */
    letter-spacing: 1.3px;
}

.promiseItem:nth-of-type(2) {
    background-color: rgba(0, 0, 0, 0.035);
    row-gap: 1vw;
}

.promiseItem:nth-of-type(3) {
    background-color: rgba(0, 0, 0, 0.07);
}

.promiseItem:nth-of-type(4) {
    background-color: rgba(0, 0, 0, 0.106);
}

.promiseItem:nth-of-type(5) {
    background-color: rgba(0, 0, 0, 0.14);
}

.promiseItem:nth-of-type(6) {
    background-color: rgba(0, 0, 0, 0.176);
}

.promiseItem:nth-of-type(7) {
    background-color: rgba(0, 0, 0, 0.21);
}

.contact {
    background-image: url(./assets/images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}
.contactInner {
    display: flex;

    padding: 10vw 15vw;
    justify-content: center;
    gap: 6vw;
}

.contactLeft h3 {
    color: #fff;

    font-size: 23.4px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.95px;
    letter-spacing: 5.265px;
    text-transform: uppercase;
}

.contactLeft p {
    color: #fff;

    font-family: Open Sans;
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px;
    letter-spacing: 1.3px;
}

.contactRight {
    display: flex;

    justify-content: center;
    align-items: flex-start;
}

.contactRight a {
    color: #fff;
    text-align: center;
    font-size: 13.867px;
    font-style: normal;
    font-weight: 600;
    line-height: 43.333px;
    letter-spacing: 3.12px;
    text-transform: uppercase;
    background-color: #ed4933;
    width: 150px;
}

/* Footer */

footer {
    padding: 0 100px;
    background-color: #1d242ae5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 1vw;
    opacity: 0.5;
}

footer img:hover {
    opacity: 1;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.86669rem;
    line-height: 0.86669rem;
    letter-spacing: 0.195rem;
    text-transform: uppercase;
    margin-bottom: 10rem;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .paris,
    .colombia,
    .hungary {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
    .paris p,
    .hungary p,
    .colombia p {
        text-align: center;
        font-size: 16px;
    }

    .paris h3,
    .hungary h3,
    .colombia h3 {
        text-align: center;

        font-size: 21.6px;
    }

    .paris {
        flex-direction: column-reverse;
    }

    .promise {
        display: flex;
    }

    .promiseInner {
        padding: 1vw 2vw;
    }

    .promiseItem {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .promiseItem h3 {
        font-size: 18.4px;
    }

    .promiseItem p {
        font-size: 16px;
    }

    .contactInner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2vw 4vw;

        margin: auto;
    }

    .contactLeft {
        text-align: center;
    }

    .contactLeft h3 {
        font-size: 21.6px;
        margin-bottom: 2vw;
    }

    .contactLeft p {
        font-size: 16px;
        margin-bottom: 2vw;
    }

    .contactRight a {
        font-size: 12.8px;
        padding: 0 15px;
    }
}

@media only screen and (max-width: 567px) {
    .promiseInner {
        grid-template-columns: 1fr;
        gap: 4vw;
    }

    .promiseItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promiseItem {
        background-color: #505393;
        border-radius: 0rem 0.1875rem 0rem 0rem;
        border-top: 2px solid rgba(0, 0, 0, 0.13);
        margin-bottom: 2vw;
    }
    .promiseItem:nth-of-type(2),
    .promiseItem:nth-of-type(3),
    .promiseItem:nth-of-type(4),
    .promiseItem:nth-of-type(5),
    .promiseItem:nth-of-type(6),
    .promiseItem:nth-of-type(7) {
        background-color: #505393;
    }
}
